form{
    max-width: 700px;
    margin: 0 auto;
}

#logo{
    width: 300px;
    height: 100px;
}

.nav-item{
    font-size: 30px;
}

#home-wallpaper{
    height: fit-content;
    width: fit-content;
}

.icon-green{
    color: green;
}