<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Home</title>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{css/index.css}"/>

</head>
<body>
    <div class="container-fluid">
        <div>
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" th:href="@{/}">
                    <img id="logo" th:src="@{images/logo.png}" alt="Bookify Logo"/>
                </a>
                <div class="collapse navbar-collapse" id="navBar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/users}">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/categories}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/books}">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/orders}">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/settings}">Settings</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>



    <script th:src="@{assets/jquery/jquery.min.js}"></script>
    <script th:src="@{assets/popper/popper.min.js}"></script>
    <script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>